* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Plus Jakarta Sans", sans-serif;
  list-style: none;
  
}

body.darkMode {
  background-color: black;
}

.darkMode h1{
  color:white;
}

.darkMode a{
  color: white;
}

.darkMode .info p{
  color: white;
}

body.lightMode {
  background-color: white;
  color: black;
}

header {
  background-color: #306bb3;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
}

header > img {
  width: 50%;
  max-width: 150px;
  margin-left: 3%;
}

header > div {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.list {
  display: flex;
  list-style: none;
  gap: 50px;
  align-items: center;
}

a {
  color: white;
  text-decoration: none;
}

.btnDark {
  background-color: white;
  color: #306bb3;
  border: none;
  min-width: 82px;
  min-height: 38px;
  border-radius: 4px;
}

.info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin-top: 90px;
}

h1 {
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  color: #486284;
}

.info p {
  color: #1a202c;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
}

.nav {
  display: flex;
  justify-content: space-around;
  width: 90%;
  position: sticky;
  top: 30px;
}

.navType {
  color: #1a202c99;
  margin: 2% 0px;
  width: 100%;
  padding-bottom: 1%;
  margin-bottom: 1%;
  border-bottom: 2px solid #90a3bf;
  text-align: center;
}

.navType:hover {
  color: #1a202c;
  font-weight: bold;
  border-bottom: 2px solid #1a202c;
}

.grid-container {
  width: 90%;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  margin-left: 2%;
}

.card {
  background-color: #dee5ed;
  padding: 4%;
  border: none;
  border-radius: 10px;
  margin: 5% 0;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card.hidden {
  display: none;
}

.name,
.power {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  align-items:center;
  padding: 1% 5%;
}

.img {
  background-color: #ffffff;
  padding: 8%;
  border: none;
  width: 90%;
  height: 80%;
  border-radius: 4px;
  margin: 5%;
}

.btnCard {
  color: white;
  background-color: #306BB3;
  font-weight: 600;
  padding: 5% 10%;
  border: none;
  border-radius: 4px;
  margin: 0;
}

.more-cards {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 520px;
  padding: 50px;
}

.btnMore{
  color: white;
  background-color: #306BB3;
  border: none;
  border-radius: 4px;
  margin: 0;
  width: 156px;
  height: 44px;
}

.more-cards > p {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #306bb3;
}

footer {
  width: 100%;
  display: flex;
  background-color: #306bb3;
  color: white;
  justify-content: space-between;
  padding: 50px 30px;
  align-items: center;
}

.redes {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

footer img {
  max-width: 150px;
  max-height: 55px;
}

footer p {
  width: 50%;
}

.icon {
  display: flex;
  gap: 30px;
  font-size: 15px;
}

.links {
  width: 50%;
  display: flex;
  justify-content: space-around;
}

.links ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
}

.links li {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}

@media only screen and (max-width: 1200px) {
  body {
    background-color: lightblue;
  }

  .icon {
    font-size: 10px;
  }
}

@media screen and (max-width: 992px) {
  body {
    background-color: blueviolet;
  }

  .redes {
    width: 30%;
  }

  footer img {
    max-width: 50%;
  }

  footer p {
    width: 50%;
  }

  .links {
    width: 70%;
  }
}

@media screen and (max-width: 778px) {
  *{
    font-size: 12px;
  }
  
  body {
    background-color: red;
  }

  header img {
    max-width: 20%;
  }

  header div {
    width: 70%;
  }

  section article div a {
    padding: 10px;
  }

  .icon {
    font-size: 8px;
  }
}

@media screen and (max-width: 576px) {
  body {
    background-color: magenta;
  }

  header {
    display: flex;
    flex-direction: column;
  }
  header img {
    width: 100%;
    min-width: 120px;
  }

  header nav {
    width: 100%;
  }

  main {
    display: flex;
    flex-direction: column;
  }

  section {
    width: 100%;
  }

  section article {
    width: 100%;
  }

  main img {
    width: 80%;
    padding-top: 20px;
  }

  footer {
    display: flex;
    flex-direction: column;
  }

  .redes {
    width: 100%;
    align-items: center;
  }

  footer p {
    width: 100%;
  }

  .icon {
    padding-bottom: 35px;
  }

  .links {
    width: 100%;
  }

  .links ul {
    font-size: 15px;
  }

  .links ul li {
    font-size: 10px;
  }
}

@media screen and (max-width: 360px) {
  body {
    background-color: green;
  }

}
