* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Plus Jakarta Sans", sans-serif;
}

header {
  background-color: #306bb3;
  height: 10vh;
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 50px;
}

header > div {
  display: flex;
  align-items: center;
  width: 30%;
  justify-content: space-between;
}

.list {
  display: flex;
  list-style: none;
  gap: 20px;
}

a {
  color: white;
  text-decoration: none;
}

header button {
  background-color: white;
  color: #306bb3;
  border: none;
  margin-right: 10%;
  width: 82px;
  height: 38px;
  border-radius: 4px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin-top: 90px;
}

h1 {
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  color: #486284;
}

.info p {
  color: #1a202c;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
}

.grid-container {
  display: grid;
  grid-template-rows: minmax(auto, auto);
  grid-template-columns: repeat(4, auto);
  grid-gap: 32px;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}

.main-nav {
  grid-column: 1 / 5;
  border-bottom-style: inset;
}

.main-nav ul {
  padding: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.main-nav > ul > a {
  color: #1a202c;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  opacity: 0.5;
}

.main-nav ul a:hover {
  opacity: 1;
}

.main-nav:hover {
  border-bottom-style: solid;
}

.card {
  display: grid;
  background-color: #dee5ed;
  border-radius: 10px;
  padding: 20px;
}

.name,
.power {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
}

.img {
  background-color: white;
  width: 254px;
  height: 241px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  width: 116px;
  height: 44px;
  background: #306bb3;
  border-radius: 4px;
  color: white;
  border-style: none;
}

.more-cards {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 520px;
  padding: 50px;
}

.more-cards > p {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #306BB3;
}

footer {
  display: flex;
  background-color: #306bb3;
  color: white;
  justify-content: space-between;
  padding: 50px 30px;
  align-items: center;
}

li {
  list-style: none;
}

.links {
  width: 60%;
  display: flex;
  justify-content: space-around;
}

.links ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
}

.links li {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}

.redes {
  width: 20%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-left: 30px;
}

.icon {
  display: flex;
  padding-top: 30px;
  gap: 30px;
}

.logo-footer,
header > img {
  width: 150px;
  height: 55px;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}
